 /* Reset the space of the webpage */
* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, monospace;
 }
 
 /* Navigation Bar */
 ul {
   list-style-type: none;
   background-color: #4E7544;
   overflow: hidden;
   padding: 10px;
 }
 
 li {
   display: inline;
 }
 
 li a {
   text-decoration: none;
   color: #F0F4EF;
   padding: 10px;
 }
 
 li a:hover {
   background-color: #2B4025;
 }
 
 .active {
   background-color: #2B4025;
 
 }
 
 .container {
   position: relative;
   /*padding: 5px;*/
 }
 
 .center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /*padding: 5px;*/
   color: #2B4025;
   font-size:3vw;
   white-space: nowrap;
 }
 
/* Home page */
 

/* Project page */
.project {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    margin-top: -5px;
}

/* .project {
    padding: 5px;
    margin: 10px 1.5%;
    width: 40%;
} */

.project img {
    width: 100%;
}

.project p {
    margin: 0 10% ;
}

.image {
    opacity: 1;    
}

.image:hover {
    opacity: 0.8;
}

/* Contact page */
